
/* Your CSS Code here. */
 .container{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        

      }
      .box1{
        width: 100px;
        height: 100px;
        background-color: green;
        font-size: 30px;
      }
      .box2{
        width: 100px;
        height: 100px;
        background-color: green;
        font-size: 30px;
      }
      .box3{
      width: 100px;
        height: 100px;
        background-color:  green;
        font-size: 30px;
      }
      .box4{
      width: 100px;
        height: 100px;
        background-color:  green;
        font-size: 30px;
      }
      .box5{
      width: 100px;
        height: 100px;
        background-color:  green;
        font-size: 30px;
      }
      .box6{
      width: 100px;
        height: 100px;
        background-color: red;
        font-size: 30px;
      }
      .box7{
      width: 100px;
        height: 100px;
        background-color: blue;
        font-size: 30px;
      }